<div class="container login-container">
    <h4>Provide your email address to access sizing tool</h4>
    <div class="well" style="background:white;">
      <input type="text" id="email" placeholder="Enter your email"/>
      <button type="button" class="btn-primary" id="btnSubmit"> Submit</button>
    </div>
</div>

<!-- css position pratice-->
<div class="parent" *ngHide>
  <div class="test">test1</div>
  <div class="test" id="two">test2</div>
  <div class="test">test3</div>
  <div class="test">test4</div>
</div>